.scroll-bar:vertical {
    -fx-padding: 5px;
    -fx-background-color: #ecdcb4;
    -fx-background-radius: 4;
}

.scroll-bar .track {
    -fx-background-color: #f4e5c5;
    -fx-background-insets: 1, 1;
    -fx-background-radius: 8;
}

.scroll-bar .thumb {
    -fx-background-color: #658591;
    -fx-background-insets: 1, 1;
    -fx-background-radius: 8;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #f4e5c5;
    -fx-background-radius: 3;
    -fx-padding: 5px;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-padding: 10px 5px;
}